@import url(https://fonts.bunny.net/css?family=dm-serif-display:400|fira-sans:400);
@import 'tailwindcss';

@theme {
    --color-pswhite: #ffeeee;
    --color-psblack: #331111;
    --color-psgrey: #443333;
    --color-sv: #ff3e00;
    --color-tx1: #471313;
    --color-tx2: #681616;
    --color-bg1: #ecc56f;
    --color-bg2: #d1ab58;

    --font-title: 'DM Serif Display', ui-serif, serif;
    --font-main: 'Fira sans', ui-sans-serif, system-ui, sans-serif;
}
